.community {

  .sub_visual {
    &::before {
      background-image: url(../img/community.jpg);
    }
  }

  .inner {


    .tabButton {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 40px;

      li {
        width: calc(100% / 2);
        height: 60px;

        &.on {
          a {
            background: #fff;
            color: $pointColor;
            border-top: 3px solid $defColor;
            border-bottom: none;
          }
        }

        &:last-child a {
          border-right: 1px solid $defColor;
        }

        a {
          display: block;
          width: 100%;
          height: 100%;
          font: bold 14px/60px $fontKr;
          text-align: center;
          color: #999;
          background: #eee;
          transition: 0.5s;
          border-top: 3px solid #ccc;
          border-bottom: 1px solid $defColor;
          border-left: 1px solid $defColor;

          i {
            width: 40px;
            height: 40px;
            border: 1px solid #fff;
            border-radius: 50%;
          }

          &:hover {
            background: $defColor;
            color: $subColor2;
            border-top: 3px solid $defColor;
          }
        }
      }

      @include floatRelease();
    }

    .tabUtils {
      width: 100%;
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: flex-end;

      p {
        font: 14px/1 $fontDef;
        color: #aaa;
      }

      >div {
        margin-top: 5px;

        input[type=text] {
          width: 200px;
          height: 30px;
          border: 1px solid $subColor1;
          background: $subColor2;
          padding-left: 10px;

          &::placeholder {
            color: $defColor;
            font: 12px/1 $fontKr;
          }
        }

        button {
          width: 80px;
          height: 30px;
          background: $pointColor;
          font: bold 12px/30px $fontTitle;
          color: #fff;
          text-align: center;
          border: none;
          cursor: pointer;
          margin-left: 5px;
          vertical-align: top;
        }
      }
    }

    article {
      display: none;
      transition: 1s;

      &.on {
        display: block;
      }

      table {
        width: 100%;
        border-top: 3px solid $subColor1;
        border-bottom: 3px solid $subColor1;
        margin-bottom: 50px;

        tr {
          transition: 0.5s;

          &:hover {
            background: lightcyan;
          }

          th {
            padding: 20px 15px;
            background: $themeColor;
            color: #fff;
            font: bold 14px/1.4 $fontKr;

            &:nth-of-type(1) {
              width: 10%;
            }

            &:nth-of-type(3) {
              width: 15%;
            }

            &:nth-of-type(4) {
              width: 15%;
            }

          }

          td {
            padding: 20px 15px;
            border-bottom: 1px solid #eee;
            text-align: center;
            font: 14px/1.4 $fontKr;

            &:nth-of-type(2) {
              text-align: left;
            }

            a {
              color: #333;
              font: 14px/1.4 $fontKr;
            }
          }
        }
      }

      .faq {
        width: 100%;
        margin-bottom: 50px;
        border-top: 3px solid $subColor1;
        border-bottom: 3px solid $subColor1;

        dt {
          width: 100%;
          padding: 25px 60px;
          border-bottom: 1px solid #ddd;
          transition: 0.4s;
          cursor: pointer;
          position: relative;
          font: 15px/1.3 $fontKr;
          color: $defColor;

          &.on {
            background: $defColor;
            color: $subColor2;

            span {
              &:nth-of-type(1) {
                background: $themeColor;
              }

              &:nth-of-type(2) {
                transform: rotate(180deg);
                color: $pointColor;
              }
            }
          }

          &:hover {
            background: $defColor;
            color: $subColor2;

            span {
              &:nth-of-type(1) {
                background: $themeColor;
              }

              &:nth-of-type(2) {
                color: $pointColor;
              }
            }
          }

          span {
            position: absolute;
            left: 15px;
            font: bold 15px/28px $fontDef;
            width: 25px;
            heighT: 25px;
            text-align: center;
            top: 50%;
            margin-top: - calc(25px / 2);
            color: #fff;
            background: $defColor;
            transition: color 0.2s, transform 0.5s, background 0.4s;
            border-radius: 50%;

            &:nth-of-type(2) {
              left: auto;
              right: 20px;
              background: none;
              color: $defColor;

              i {
                font-size: 25px;
              }
            }
          }
        }

        dd {
          width: 100%;
          padding: 25px 60px;
          position: relative;
          background: #eee;
          color: $defColor;
          transition: 1s;
          height: 0%;
          display: none;

          ul li {
            font: 15px/1.3 $fontKr;
          }

          &.on {
            display: block;
          }

          span {
            position: absolute;
            left: 15px;
            font: bold 15px/22px $fontKr;
            width: 25px;
            heighT: 25px;
            text-align: center;
            top: 50%;
            margin-top: - calc(25px / 2);
            color: #fff;
            background: $pointColor;
            transition: 0.5s;
            border-radius: 50%;

            &:nth-of-type(2) {
              left: auto;
              right: 20px;
              background: none;
              color: $defColor;

              i {
                font-size: 25px;
              }
            }
          }
        }
      }
    }

    .pagenation {
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: center;

      .prev,
      .next {
        width: 30px;
        height: 30px;
        color: $defColor;
        font: 20px/30px 'arial';
        text-align: center;
        transition: 0.5s;

        &:hover {
          color: $pointColor;
        }
      }

      .numbers {
        text-align: center;
        font-size: 0;
        display: flex;
        align-items: center;
        margin: 0px 40px;

        a {
          display: inline-block;
          width: 40px;
          height: 30px;
          font: bold 14px/30px $fontKr;
          color: $defColor;
          transition: 0.5s;
          position: relative;

          &.on {
            color: $pointColor;
          }

          &::before {
            content: '';
            width: 1px;
            height: 20px;
            position: absolute;
            top: calc(50% - 10px);
            right: 0;
            border-right: 1px solid #ccc;
          }

          &:last-child {
            &::before {
              border: none;
            }
          }

          &:hover {
            color: $pointColor;
          }
        }
      }
    }
  }
}

/* tablet -------------------- */
@media screen and (max-width: $tablet) {
  .community {
    .inner {

      article {
        table {
          tr {
            th {
              &:nth-of-type(1) {
                width: 15%;
              }

              &:nth-of-type(3) {
                width: 20%;
              }

              &:nth-of-type(4) {
                width: 0%;
                display: none;
              }

            }

            td {
              &:nth-of-type(4) {
                width: 0%;
                display: none;
              }
            }
          }
        }
      }

      .pagenation {
        .numbers {
          a {
            @for $i from 6 through 10 {
              &:nth-of-type(#{$i}) {
                display: none;
              }
            }
          }
        }

      }
    }
  }
}

/* mobile -------------------- */
@media screen and (max-width: $mobile) {
  .community {
    .inner {

      article {
        table {
          tr {
            th {
              font-size: 13px;

              &:nth-of-type(1) {
                width: 0%;
                display: none;
              }

              &:nth-of-type(3) {
                width: 30%;
              }
            }

            td {
              font-size: 13px;

              &:nth-of-type(1) {
                width: 0%;
                display: none;
              }
            }
          }
        }

        .faq {

          dt {
            padding: 25px 50px;

            span {
              left: 10px;

              &:nth-of-type(2) {
                right: 10px;
              }
            }
          }
        }
      }
    }
  }
}