#brand {
  @include sectionPadding();

  .inner {
    width: 1180px;
    margin: 0 auto;
    position: relative;

    h2 {
      @include subTitle();
      text-align: center;
    }
    
    h1 {
      @include title();

      &::first-letter {
        color: $pointColor;
        font-size: 50px;
      }
    }
  }
}