#brand {
  @include sectionPadding();

  .inner {
    width: 1180px;
    margin: 0 auto;
    position: relative;

    h2 {
      @include h2Title();
    }
    
    h1 {
      @include h1Title();
    }

    .wrap {
      width: 100%;
      
      @include floatRelease();
    }
  }
}